.user-card {
    background: #040303;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
  }
  
  .profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  h3 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  p {
    font-size: 0.9em;
    color: #555;
  }
  